<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="STDOUT">
    <Appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%-7t] %F:%L - %m%n" />
        </Console>

        <Socket name="Socket" host="192.168.160.87" port="20052">
            <JsonLayout compact="true" eventEol="true" />
        </Socket>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>

</Configuration>